#box-user{
    position: relative;
    top: -35px;
    right: -120px;
    font-size: 20px;

}
#box-lock{
    position: relative;
    top: -35px;
    right: -120px;
    font-size: 20px;

}